@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
}
.logo{
    font-size: 1.5em;
    font-weight: 600;
    color: rgba(3, 222, 80, 0.7);
}
.menu-bar{
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5px;
    margin-top: 10px;
}
.search-icon{
     font-size: 1.3em;
    font-weight: 600;
    margin-right: 5px;
}
.search input{
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    outline: none;
}
.link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 15px;
    padding-left: 5px;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45);
    
}
a{
    font-weight:600;
    color: white;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45);
}
a:hover{
color: rgba(3, 222, 80, 0.7);
text-decoration: underline;
border-right: 3px solid #fff;
}

